{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
    <!-- Start Title -->
    <section class="hero position-relative overflow-hidden align-items-center" id="home">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h2 class="text-dark fw-light lh-base mt-5">Заснований та розташований в <span
                            class="fw-medium title">Харкові</span>, Магазин одягу.</h2>
                </div>
            </div>
        </div>
        <!-- end container -->
    </section>
    <!-- End Title -->
    <section class="hero position-relative overflow-hidden align-items-center" id="new_products">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h2 class="text-dark fw-light lh-base mt-5"><span
                            class="fw-medium title">Нові надходження</span></h2>
                </div>
            </div>
        </div>
        <!-- end container -->
    </section>


    <!-- shuffle portfolio -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 filters-group-wrap mb-3">
                    <div class="filters-group">
                        <ul class="container-filter mb-0 categories-filter list-unstyled filter-options">
                            <li class="list-inline-item categories position-relative active my-sm-0 my-2"
                                data-group="all"><a href="javascript:void(0)">Всі</a></li>
                            <li class="list-inline-item categories position-relative my-sm-0 my-2 "
                                data-group="branding"><a class="" href="javascript:void(0)">Категорія №1</a></li>
                            <li class="list-inline-item categories position-relative my-sm-0 my-2"
                                data-group="designing"><a href="javascript:void(0)">Категорія №2</a></li>
                            <li class="list-inline-item categories position-relative my-sm-0 my-2"
                                data-group="photography"><a href="javascript:void(0)">Категорія №3</a></li>
                            <li class="list-inline-item categories position-relative my-sm-0 my-2"
                                data-group="development"><a href="javascript:void(0)">Категорія №4</a></li>
                        </ul>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        {% for product in products %}
                        <div class="col-lg-4 col-md-6">
                            <div class="product-item mt-4" data-groups='["designing"]'>
                                <div class="product-img rounded position-relative">
                                    <img class="img-fluid" src="{% static 'images/products/pro-1.jpg'%}" alt="" />
                                    <span
                                        class="text-dark badge bg-light rounded-3 fs-14 fw-bold position-absolute top-0 start-0 mt-2 ms-2 py-2">-{{ product.discount }}</span>

                                    <div
                                        class="hover-content text-center w-100 position-absolute bottom-0 start-50 translate-middle-x py-2 mb-3">
                                        <a href="{% url 'product-cart' %}"><i
                                                class="mdi mdi-cart-outline fs-22 me-3 pe-3 fw-bolder pro-icon border-end"></i></a>
                                        <a href="{% url 'product-detail' %}"><i
                                                class="mdi mdi-eye-outline fs-22 me-3 pe-3 fw-bolder pro-icon border-end active"></i></a>
                                    </div>
                                </div>
                                <div class="pro-content my-3">
                                    <div class="d-flex align-items-center">
                                        <ins class="pe-2 fs-15 fw-semibold text-decoration-none text-dark">{{ product.price_with_discount }}</ins>
                                        <del class="text-muted fs-15">{{ product.price }}</del>
                                    </div>
                                    <a href="{% url 'product-detail' %}">
                                        <p class="text-muted fw-normal lh-base my-1">{{ product.name }}</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- end row -->
                </div>
            </div>
            <!--end row-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mt-5">
{#                        <a href="{% url 'about' %}" class="btn btn-primary me-2">Всі товари<i class="mdi mdi-arrow-right ms-1"></i></a>#}
                        <a href="{% url 'contact' %}" class="btn btn-primary">Get In Touch <i class="mdi mdi-lifebuoy ms-1"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock content %}


{% block extra_js %}

    <!-- Shuffle JS -->
    <script src="{% static 'js/shuffle.min.js'%}"></script>
    <script src="{% static 'js/gallery.init.js'%}"></script>


{% endblock extra_js %}